#가상환경
.vscode
#환경변수
.env
#파이썬
*.splite3
*.db
*.__pycache__

# 큰 파일
python.zip
*.zip
# 100MB 이상의 파일들
streamlit_prj/
15pandas/pandas-data-analysis-main/part7/data/San-Francisco-Crime .csv
15pandas/pandas-data-analysis-main/part7/extracted_files/open/external_open/countrywide_accident.csv
SQL_database/load_salaries.dump
15pandas/pandas-data-analysis-main/part4/credits.csv


#데이터 파일
17machin-learning/data/movie_aclImdb/