#가상환경
.vscode
#환경변수
.env
#파이썬
*.splite3
*.db
*.__pycache__

# 큰 파일
python.zip
*.zip
# 100MB 이상의 파일들
streamlit_prj/
15pandas/pandas-data-analysis-main/part7/data/San-Francisco-Crime .csv
15pandas/pandas-data-analysis-main/part7/extracted_files/open/external_open/countrywide_accident.csv
SQL_database/load_salaries.dump
15pandas/pandas-data-analysis-main/part4/credits.csv


#데이터 파일
16machin-learning/data/movie_aclImdb/
**/movie_aclImdb/
17deep-learning/data/FashionMNIST/
17deep-learning/data/
17deep-learning/data/
17deep-learning/cifar-10-batches-py/
17deep-learning/cifar-10-python.tar.gz
17deep-learning/cifar-10-batches-py/batches.meta
17deep-learning/cifar-10-batches-py/data_batch_2
17deep-learning/cifar-10-batches-py/data_batch_1
17deep-learning/cifar-10-batches-py/data_batch_3
17deep-learning/cifar-10-batches-py/data_batch_4
17deep-learning/cifar-10-batches-py/data_batch_5
17deep-learning/cifar-10-batches-py/readme.html
17deep-learning/cifar-10-batches-py/test_batch
17deep-learning/data/horse-or-human/
17deep-learning/cifar.pth
17deep-learning/hm.pth
17deep-learning/bostonRegression.pth
17deep-learning/resnet.pth
17deep-learning/rnn_TSLA.pth
17deep-learning/rnn.pth
17deep-learning/*.pth